<% if @good.errors.any? %>
  <div id="error_explanation">
    <h2>
      <% I18n.t("errors.messages.not_saved",
                 count: @good.errors.count,
                 resource: @good.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% @good.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>